# ignore Maven artifacts
target/

# ignore Eclipse artifacts
.classpath
.externalToolBuilders/
.factorypath
.project
.settings/

# ignore Vaadin artifacts which can be regenerated
package-lock.json
package.json
webpack.config.js
webpack.generated.js
node_modules/
