# ignore Maven artifacts
dependency-reduced-pom.xml
target/

# ignore Eclipse artifacts
.classpath
.externalToolBuilders/
.factorypath
.project
.settings/

# ignore IDEA artifacts
.idea/
*.iml

# ignore Vaadin artifacts which can be regenerated
.npmrc
frontend
package-lock.json
package.json
pnpmfile.js
pnpm-lock.yaml
tsconfig.json
types.d.ts
webpack.config.js
webpack.generated.js
node_modules/

# ignore miscellaneous stuff
*.swp
